@using OnlineTicariOtomasyon.Models.Classes
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
{
    <p>
        Kargo Takip Numarası: @Html.TextBox("ara")
        <input type="submit" value="Ara" />
    </p>
}
<table class="table table-bordered" style="margin-top:20px; margin-left: 20px; margin-right: 20px;">

    <tr>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var kargoDetay in Model)
    {

        <tr>
            <td>
                @kargoDetay.Personel
            </td>
            <td>
                @kargoDetay.Alici
            </td>
            <td>@kargoDetay.Tarih.ToString("MM/dd/yyyy")</td>
            <td><a href="/Kargo/KargoTakip/@kargoDetay.TakipKodu" class="btn btn-outline-warning">Detaylar</a></td>

        </tr>
    }

</table>
<a href="/Kargo/YeniKargo" class="btn btn-outline-primary" style="width: 160px; height: 40px;"> Yeni Kargo Girişi</a>
