
@{
    ViewBag.Title = "GrafikCiz";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>GrafikCiz</h2>

<div style="width:600px;height:600px">
    <img src="@Url.Action("GrafikCiz","Grafik")"/>
</div>
